# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Angular cache files
.angular/cache/

# Build outputs
dist/
dist-ssr
tmp/
out-tsc/

# Node modules
node_modules/

# Environment files
.env
.env.local
*.local

# IDE files
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Deployment
.vercel
*.rtf
